/*初始化*/

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

img {
    max-width: 100%
}

body {    
    font-size: 13px;
}

.top {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}

.top-logo {
    float: left;
    width: 230px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

.top-reg {
    float: right;
    color: #808080;
    margin-top: 30px;
    position: relative;
    width: 25%;
    line-height: 15px;
}

.bg {
    background: url(../img/2.jpg);
    width: 99%;    
    height: 600px;
    position: relative;
}
.login{
    float: right;
    width: 500px auto;
    margin-right: 60px;
    padding: 50px 40px;
}

.login-top{
    background-color: #CCFFCC;
    border-radius: 18px 18px 0 0;
    padding: 30px 40px;
    opacity: 0.7;
}
.login-top h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #663300;
    margin: 0 0 20px 0;
}
.login-top input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 1px 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 25px;
    margin: 0 0 15px 0;
    width: 88%;
}

.login-top input[type="password"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 1px 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 25px;
    margin: 0 0 15px 0;
    width: 88%;
}

.forgot a {
    font-size: 13px;
    font-weight: 500;
    color: #0066FF;
    display: inline-block;
    border-right: 2px solid #0066FF;
    padding: 0 12px 0 0;
}

.forgot a:hover {
    color: #000000;
}

.forgot input[type="submit"] {
    background-color:#FFFFFF;
    color: #003333;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    outline: none;
    border: none;
}

.forgot input[type="submit"]:hover {
    background-color: #FF6600;
    transition: 1s all;
}
.login-bottom {
    background-color: #CCFFCC;
    padding: 15px 50px;
    border-radius: 0 0 25px 25px;
    text-align: right;
    border-top: 2px solid #646464;
}

.login-bottom h3 {
    font-size: 15px;
    font-weight: 500;
    color: #646464;
}

.login-bottom h3 a {
    font-size: 20px;
    font-weight: 500;
    color: #006633;
}

.login-bottom h3 a:hover {
    color: #0066CC;
    transition: 0.5s all;
}

.copyright {
    text-align: center;
    margin: 15px;
    padding: 5px 0px 0px 0px;
}

.copyright p {
    font-size: 15px;
    font-weight: 400;
    color: #FF0000;
}

